extends layout

block content
  h1= title

  include:markdown ../README.md



  button(onclick="socket.emit('join', {roomName : 'foo', user: {id: 'Bob'}})") Bob
  button(onclick="socket.emit('join', {roomName : 'foo', user: {id: 'Alice'}})") Alice

  button(onclick="socket.emit('addSong', {spotifyId : 1337, length: 33000})") AddSong 1337
  button(onclick="socket.emit('addSong', {spotifyId : 4711, length: 33000})") AddSong 4711

