extends layout

block content
  h1= title
  p Welcome to #{title}

  button(onclick="socket.emit('join', {roomName : 'Vi testar', user: {id: 'facebookid'}})") Join

  button(onclick="socket.emit('addSong', {spotifyId : 1337, length: 33000})") AddSong

